@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Github Repository: 
    <a href="https://github.com/danielwnn/ProfileMgrApp">https://github.com/danielwnn/ProfileMgrApp</a>
</p>
